<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flightrobot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileViewActivity"
            android:label="fileview">
            <intent-filter>
                <action android:name="android.intent.action.FileView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FlightDBActivity"
            android:label="飞行任务数据库"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateListActivity"
            android:label="创建清单"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderListActivity"
            android:label="@string/title_activity_order_list"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseRecyclerActivity" />
        <activity
            android:name=".TaskActivity"
            android:label="飞行动作"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OperationActivity"
            android:label="飞行元操作"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceActivity"
            android:label="设备工作状态"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CamActivity"
            android:label="监控"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="录像"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PdfViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.pdfview" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".orderTaskActivity"
            android:label="任务监控"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoPlayer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateOrderActivity"
            android:label="创建任务清单"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FlightOrderActivity"
            android:label="发布任务"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".OrderListMainActivity"
            android:label="任务清单"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditOrderActivity"
            android:label="任务清单"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OrderHistoryDetailActivity"
            android:label="任务清单"
            android:theme="@style/AppTheme.fade">
            <intent-filter>
                <action android:name="android.intent.action.DATABASE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>